<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    viewBox="0 0 24 24"
    :aria-labelledby="iconName"
    role="presentation"
    fill="none"
    :stroke="iconColor"
    stroke-width="2.5"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="chart-icon"
  >
    <title
      :id="iconName"
      lang="ru"
    >{{iconName}}</title>
    <path d="M12 20v-6M6 20V10M18 20V4"/>
  </svg>
</template>
<script>
export default {
  name: 'Chart',
  props: {
    iconName: {
      type: String,
      default: ''
    },
    width: {
      type: [Number, String],
      default: 20
    },
    height: {
      type: [Number, String],
      default: 20
    },
    iconColor: {
      type: String,
      default: 'currentColor'
    }
  }
}
</script>

<style lang="scss">
.chart-icon {
  transition: stroke 300ms linear;
  cursor: pointer;

  &:hover {
    stroke: #ff4800;
  }
}
</style>
