<template>
  <svg xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    viewBox="0 0 24 24"
    :aria-labelledby="iconName"
    role="presentation"
    fill="none"
    :stroke="iconColor"
    stroke-width="2.5"
    stroke-linecap="round"
    stroke-linejoin="round"
    :class="'like-icon' + ' ' + itemLikeClass"
    @click="toLike"
  >
    <title
      :id="iconName"
      lang="ru"
    >{{iconName}}</title>
    <path
      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
    </path>
  </svg>
</template>
<script>
export default {
  name: 'Like',
  props: {
    iconName: {
      type: String,
      default: ''
    },
    width: {
      type: [Number, String],
      default: 20
    },
    height: {
      type: [Number, String],
      default: 20
    },
    iconColor: {
      type: String,
      default: 'currentColor'
    }
  },
  data() {
    return {
      likeStatus: false
    }
  },
  methods: {
    toLike() {
      this.likeStatus = !this.likeStatus;
    }
  },
  computed: {
    itemLikeClass() {
      return this.likeStatus? 'is-active' : ''
    }
  }
}
</script>
<style lang="scss">
.like-icon {
  transition: stroke 300ms linear;
  cursor: pointer;

  &:hover {
    stroke: #ff4800;
  }
  &.is-active {
    stroke: #ff4800;
    fill: #ff4800;
  }
}
</style>
