<template>
  <div class="card product-card">
    <a class="product-card__image" :href="prodHref">
      <img class="card-img-top" :src="imgSrc" :alt="alt">
    </a>
    <div class="card-body product-card__body">
      <a :href="prodHref" class="card-title product-card__title">
        {{ title }}
      </a>
      <div class="product-card__info">
        <div class="product-card__wrapper">
          <div class="product-card__rating">
            <Rating
              :rating="rating"
            ></Rating>
          </div>
          <div class="product-card__stock">
            <div class="product-card__stock-icon">
              <Check
                v-if="availability"
                width="14"
                height="14"
                icon-color="#699c28"
              ></Check>
              <Close
                v-else
                width="14"
                height="14"
                icon-color="#ff4800"
              ></Close>
            </div>
            <div class="product-card__stock-text">
              {{ stockToStr() }}
            </div>
          </div>
        </div>
        <div class="product-card__price">
          <div class="product-card__old-cost">
            {{ oldCost }}
          </div>
          <div class="product-card__cost">
            {{ cost }}
          </div>
        </div>
        <div class="product-card__economy">
          <template
            v-if="economy"
          >
          <span>
            Экономия
          </span>
          <span>
            {{ economy }}
          </span>
          </template>
        </div>
        <div class="product-card__button">
          <a :href="backetHref">
            В корзину
          </a>
        </div>
      </div>
    </div>
    <div class="product-card__product-type">
      <div
        class="product-card__type-promo"
        v-if="prodType === 'promo'"
      >
        Акция
      </div>
      <div
        class="product-card__type-low-carb"
        v-if="prodType === 'low-carb'"
      >
        Низкоуглеводная еда
      </div>
      <div
        class="product-card__type-gift"
        v-if="prodType === 'gift'"
      >
        Подарок
      </div>
    </div>
    <div class="product-card__actions">
      <span
        class="product-card__like"
      >
        <Like
          width="16"
          height="16"
        ></Like>
      </span>
      <span class="product-card__chart">
        <Chart
          width="16"
          height="16"
        ></Chart>
      </span>
    </div>
  </div>
</template>

<script>
import Check from '@/icons/Check.vue';
import Close from '@/icons/Close.vue';
import Like from '@/icons/Like.vue';
import Chart from '@/icons/Chart.vue';
import Rating from '@/components/items/Rating.vue';

export default {
  name: 'ProductCard',
  props: {
    id: Number,
    rating: Number,
    title: String,
    imgSrc: String,
    alt: String,
    prodHref: String,
    backetHref: String,
    oldCost: String,
    cost: String,
    economy: String,
    prodType: String,
    stock: Number
  },
  data () {
    return {
      availability: true
    };
  },
  computed: {
  },
  methods: {
    stockToStr() {
      const stock = this.stock;
      if (stock === 0) {
        this.availability = false;
        return 'Нет в наличии';
      } else if (0 < stock < 100 ){
        return 'В наличии';
      } else {
        return 'Много';
      }
    }
  },
  watch: {
  },
  components: {
    Check,
    Close,
    Like,
    Chart,
    Rating
  }
};
</script>

<style lang="scss">
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 470px;
  padding: 30px 30px;
  background-color: rgb(255, 255, 255);

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 15px 0px rgba(34, 34, 34, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  &:hover {
    &::after {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 300ms;
    }
  }

  &__image {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    user-select: none;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.267;
    padding: 0 5px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    transition: color linear 300ms;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #508e00;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__rating-star {
    display: flex;
  }

  &__stock {
    display: flex;
    align-items: center;
  }

  &__stock-icon {
    display: flex;
    margin-right: 3px;
  }

  &__stock-text {
    display: inline-flex;
    font-size: 12px;
    line-height: 1.667;
    font-weight: 400;
    color: rgb(32, 32, 32);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
  }

  &__old-cost {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.538;
    text-align: center;
    min-height: 19px;
    color: rgba(32, 32, 32, 0.702);
    margin-bottom: 7px;
    text-decoration: line-through;
  }

  &__cost {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.111;
    text-align: center;
  }

  &__button {
    display: flex;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 40px;
      font-size: 13px;
      font-weight: 700;
      line-height: 1.538;
      text-transform: uppercase;
      background-color: rgb(114, 169, 44);
      transition: background-color 300ms linear;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 5px 15px 0px rgba(34, 34, 34, 0.25);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 300ms, opacity 300ms;
      }
    }

    &:hover {
      a {
        background-color: rgb(105, 156, 40);

        &::before {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s linear 0s, opacity 300ms;
        }
      }
    }
  }
  &__economy {
    font-size: 13px;
    line-height: 1.538;
    min-height: 18px;
    margin-bottom: 20px;

    & span:first-child {
      color: rgb(125, 125, 125);
    }
    & span:last-child {
      background-color: rgb(255, 222, 0);
    }
  }
  &__product-type {
    position: absolute;
    top: 22px;
    left: 18px;
    display: flex;
    user-select: none;

    div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: rgb(255, 255, 255);
      font-weight: 700;
      line-height: 1.666;
      padding: 5px 10px;
    }
  }

  &__type-promo {
    background-color: rgb(233, 49, 58);
  }

  &__type-low-carb {
    background-color: rgb(43, 187, 179);
  }

  &__type-gift {
    background-color: rgb(245, 179, 19);
  }

  &__actions {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__like {
    margin-bottom: 10px;
  }
}
</style>
