<template>
  <div class="rating">
    <div
      v-for="starId in 5"
      :key="starId"
      :class="'rating__star' + ' ' + startRating(starId)"
      @click="setRating(starId)"
    >
      <Star
        width="12"
        height="12"
      ></Star>
    </div>
  </div>
</template>

<script>
import Star from '@/icons/Star.vue';

export default {
  name: 'Rating',
  props: {
    rating: Number,
  },
  data () {
    return {
      propRating: this.rating,
      ratingFix: false,
    };
  },
  computed: {
  },
  methods: {
    setRating(starId) {
      this.propRating = starId;
      this.ratingFix = true;
    },
    startRating(starId) {
      if (starId >= this.propRating) {
        if (this.ratingFix) {
          return 'is-checked disabled'
        } else {
          return 'is-active'
        }
      }
    }
  },
  watch: {
  },
  components: {
    Star
  }
};
</script>

<style lang="scss">
.rating {
  display: flex;
  align-items: center;
  unicode-bidi: bidi-override;
  direction: rtl;

  &__star {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      fill: #fff0b2;
      transition: fill 300ms linear;
      user-select: none;
      pointer-events: none;
    }

    &.is-active {
      svg {
        fill: #ffcc00;
      }
    }

    &.is-checked {
      svg {
        fill: red;
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }

  & > .rating__star {
    &:hover, &:hover ~ .rating__star {
      svg {
        fill: red;
      }
    }
  }
}
</style>
