<template>
<div class="col">
  <div class="row">
    <div class="col">
      <h2 class="text-center mb-5">Тестовое задание</h2>
    </div>
  </div>
  <div class="row row-mb-fix">
    <div
      class="col col-sm-6 col-lg-4 col-xl-3 col-mb mb-xl-0"
      v-for="productItem in cardElements"
      :key="productItem.id"
    >
      <ProductCard
        :id="productItem.id"
        :rating="productItem.rating"
        :title="productItem.title"
        :img-src="productItem.imgSrc"
        :alt="productItem.alt"
        :prod-href="productItem.prodHref"
        :basket-href="productItem.basketHref"
        :old-cost="productItem.oldCost"
        :cost="productItem.cost"
        :economy="productItem.economy"
        :prod-type="productItem.prodType"
        :stock="productItem.stock"
      ></ProductCard>
    </div>
  </div>
  <hr class="spacer">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"
        v-for="swiperItem in cardElements"
        :key="swiperItem.id"
      >
        <ProductCard
          :id="swiperItem.id"
          :rating="swiperItem.rating"
          :title="swiperItem.title"
          :img-src="swiperItem.imgSrc"
          :alt="swiperItem.alt"
          :prod-href="swiperItem.prodHref"
          :basket-href="swiperItem.basketHref"
          :old-cost="swiperItem.oldCost"
          :cost="swiperItem.cost"
          :economy="swiperItem.economy"
          :prod-type="swiperItem.prodType"
          :stock="swiperItem.stock"
        ></ProductCard>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
</template>

<script>
import Swiper from 'swiper';
import 'swiper/dist/css/swiper.min.css';

import ProductCard from '@/components/items/ProductCard.vue';

export default {
  name: 'Exercise',
  data () {
    return {
      cardElements: [
        {
          id: 1,
          rating: 2,
          title: 'Анализатор крови EasyTouch GC на холестерин и глюкозу',
          imgSrc: require('../assets/img/goods/easy_touch_gc.jpg'),
          alt: 'EasyTouch GC',
          prodHref: '#',
          backetHref: '#',
          oldCost: '101 600 руб./шт.',
          cost: '101 600 руб./шт.',
          economy: '4 356 руб.',
          prodType: 'promo',
          stock: 10
        },
        {
          id: 2,
          rating: 3,
          title:'Батончик BOMBBAR SLIM Ананас и вишня (3,5 угл. в 35г)',
          imgSrc: require('../assets/img/goods/bombbar_slim.jpg'),
          alt: 'BOMBBAR SLIM',
          prodHref: '#',
          backetHref: '#',
          oldCost: '60 руб.',
          cost: '60 руб.',
          economy: '4 356 руб.',
          prodType: 'low-carb',
          stock: 120
        },
        {
          id: 3,
          rating: 3,
          title: 'Катетер Quick-Set / Квик-Сет, 6/60 (MMT-399), 1 шт.',
          imgSrc: require('../assets/img/goods/quick_set.jpg'),
          alt: 'Quick-Set',
          prodHref: '#',
          backetHref: '#',
          oldCost: '101 600 руб./шт.',
          cost: '101 600 руб./шт.',
          economy: '4 356 руб.',
          prodType: 'gift',
          stock: 0
        },
        {
          id: 4,
          rating: 3,
          title: 'Мюсли Bionova ЯГОДНЫЕ запеченные хрустящие, 400г',
          imgSrc: require('../assets/img/goods/bionova.jpg'),
          alt: 'Bionova',
          prodHref: '#',
          backetHref: '#',
          oldCost: '',
          cost: '350 руб.',
          prodType: '',
          stock: 211
        }
      ]
    };
  },
  components: {
    ProductCard
  },
  mounted() {
    new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 30,
      navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        992: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 30,
        }
      }
    });
  }
};
</script>

<style lang="scss">
.row-mb-fix {
  margin-bottom: -30px;

  @media(min-width: 1200px) {
    margin-bottom: 0;
  }
}
.col-mb {
  margin-bottom: 30px;
}

.spacer {
  height: 2px;
  background-color: black;
  margin: 25px 0;
}
</style>
