<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <Exercise></Exercise>
      </div>
    </div>
  </div>
</template>

<script>
import Exercise from "./components/Exercise.vue";

export default {
  name: "app",
  components: {
    Exercise
  }
};
</script>

<style lang="scss">
body * {
  font-family: 'Open Sans', sans-serif;
  color: #111111;
}
</style>
